*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

*.pydevproject
.project
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

.externalToolBuilders/

.launch

.cproject

.buildpath
